


<div *ngIf="!gameOver">
<app-player  (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;"  [ngStyle]="{'top.px': 20 + (i * 70)}" 
[playerActive]="i == game.currentPlayer"
[name] = "player"
[image] = "game.player_images[i]"
class="player-position hide-mobile"></app-player>
</div>

<div *ngIf="!gameOver">
<div class="scroll-container hide-desktop">
<app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;"   
[playerActive]="i == game.currentPlayer"
[name] = "player"
[image] = "game.player_images[i]"
></app-player-mobile>
</div>
</div>

<div *ngIf="gameOver" class="gameOver">
    <img src="./assets/img/game_over.jpg">
</div>



<div *ngIf="!gameOver" class="field">
    <div class="card-stack">
        <!-- Card stack-->
        <img  *ngFor="let c of[0,1,2,3,]; let i = index;" [ngStyle]="{'right.px': i * 5}" 
        src="assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px" 
        src="assets/img/cards/card_cover.png">
        
        <!-- stack for played cards-->
        <img *ngFor="let card of game.playedCards" class="played-card"  src="assets/img/cards/{{ card }}.png">

        <!-- current card animation-->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation"  class="pick-card" style="right: 25px" 
        src="assets/img/cards/{{ game.currentCard }}.png">
    </div>

</div>

<app-game-info *ngIf="!gameOver" [card]="game.currentCard" class="game-info-card"></app-game-info>

<button *ngIf="!gameOver" mat-fab color="primary" (click)="openDialog()" class="btn-add" >
    <mat-icon>add</mat-icon>
  </button>

  <div *ngIf="gameOver" class="start-content">
    
    <a (click)="restartGame()" class="contact-btn">Restart Game</a>
</div>

<!-- Preload image from bottom of stack to prevent delay in animation-->
<img class="preload-image" src="assets/img/cards/{{ game.stack[game.stack.length - 1] }}.png">
